.title {
    font-weight: 700 !important;
    font-size: 18px !important;
}
.description{
    font-size: 15px ;
    font-weight: 400 ;
}

.date {
    font-size: 13px ;
    font-weight: 300 ;
    font-style: italic ;
    text-align: right ;
}
.category {
    font-size: 13px ;
    font-weight: 300 ;
    text-align: left ;
}